<h1>Theaters Main Page</h1>

<!-- I know I use while loop here to set to only
show five theaters, but I don't know how. -->

<ul>
  <% @theaters.each do |theater| %>
  <li>
    <h3> <%= theater.name %> </h3>
    <h3> <%= theater.location %> </h3>
    <%= theater.url %>
  </li>
  <% end %>
</ul>

<!-- <%# form_tag theater_path, :method => 'get' do %> -->
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<!-- <%# end %> -->
