<!DOCTYPE html>
<html>
<head>
  <title>TheaterExpress</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <header>
      <nav>
        <%= link_to('Main Page', root_path) %>
        <span>&nbsp;|&nbsp;</span>
        <%= link_to('Add theater', new_theater_path) %>
      </nav>
    </header>

    <section id="main_content">
      <%= yield %>
    </section>

    <footer>
      Copyright &copy; <%= Time.now.year %> - Hiromi De Young
    </footer>

  </div>



</body>
</html>
